.card {
  flex-direction: row;
}

.image {
  cursor: pointer;
  width: 30%;
}

.type {
  background-color: #dcdcdc;
  border-radius: 0.25rem;
  color: #000;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 0.1rem;
  padding: 0 0.2rem;
  text-transform: capitalize;
}

.type-normal {
  background-color: #dcdcdc;
}

.type-fighting {
  background-color: #9e2a00;
  color: #fff;
}

.type-flying {
  background-color: #00c8ff;
}

.type-poison {
  background-color: #611d91;
  color: #fff;
}

.type-ground {
  background-color: #816b4c;
  color: #fff;
}

.type-rock {
  background-color: #757b71;
  color: #fff;
}

.type-bug {
  background-color: #8db796;
}

.type-ghost {
  background-color: #4e3ea0;
  color: #fff;
}

.type-steel {
  background-color: #9c9c9c;
}

.type-fire {
  background-color: #f30;
  color: #fff;
}

.type-water {
  background-color: #0059ff;
  color: #fff;
}

.type-grass {
  background-color: #00c127;
  color: #fff;
}

.type-electric {
  background-color: #c5e06d;
}

.type-psychic {
  background-color: #cb379a;
  color: #fff;
}

.type-ice {
  background-color: #ade3ed;
}

.type-dragon {
  background-color: #5c47a8;
  color: #fff;
}

.type-dark {
  background-color: #322d23;
  color: #fff;
}

.type-fairy {
  background-color: #f29cef;
}

.type-unknown {
  background-color: #dcdcdc;
}

.type-shadow {
  background-color: #d2d5cb;
}
